.formContainer{
    margin: 2.5% auto;
    width: 30%;
    height: 75vh;
    background-color: #00aaff65;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.label{
    font-size: small;
    position: relative;
    bottom: 6px;
    margin:  0 5px;
    font-weight: bold;
}