.formContainer{
    padding: 2%;   
    justify-content: center;
}

.inputField{
    width: 100%;
    margin-bottom: 10px;
}

.button{
    margin: 10px 0;
}

.fieldError{
    font-size: 0.75rem;
    margin: 0 auto 2px auto;
    padding: 0;
    line-height: 0.8rem;
    color: red;
}